<section id="questions">
	<h2>Select a range..</h2>
	<p>Narrow down your result to a game from a certain time period.</p>
	<div id="question-date-range">
		<form layout="row" layout-xs="column" layout-align="center">
			<md-input-container flex-gt-xs="20" flex>
				<label>From..</label>
				<md-datepicker ng-model="questions.after"></md-datepicker>
			</md-input-container>
			<md-input-container flex-gt-xs="20" flex>
				<label>To..</label>
				<md-datepicker ng-model="questions.before"></md-datepicker>
			</md-input-container>
			<!-- <md-input-container flex-gt-xs="20" flex="50" flex-offset-xs="30">
				<input aria-label="Go!" class="md-button" type="submit" value="Go!">
			</md-input-container> -->
		</form>
	</div>
	<!-- The Giant Bomb API currently has a bug where you cannot limit results by both normal filters and platforms. http://www.giantbomb.com/forums/api-developers-3017/unable-to-filter-games-by-date-added-1794952/#3 -->
	<h2>Limit by platform..</h2>
	<p>Retrieve only games that were released for certain systems.</p>
	<div id="question-platform">
		<md-input-container ng-if="questions.platforms">
			<label>Platform</label>
				<md-select ng-model="questions.platform" aria-label="...">
  					<md-option ng-value="platform" ng-repeat="platform in questions.platforms">{{ platform.name }}</md-option>
  				</md-select>
		</md-input-container>
		<h2 ng-if="!questions.platforms">Retrieving list of platforms..</h2>
	</div>
	<div id="submit">
		<form ng-submit="questions.submitIgdb(questions.after, questions.before, questions.platforms)">
			<md-input-container>
				<input aria-label="Go!" class="md-button" type="submit" value="Go!">
			</md-input-container>
		</form>
	</div>
	<div> 
	<md-content ng-if="questions.game.name">
		<p>Let's play...</p>
		<h2>{{ questions.game.name }}</h2>
		<p>First Released: {{ questions.game.first_release_date | date : 'M/d/yy' }}</p>
		<p>{{ questions.game.summary }}</p>
		<p>Find out more <a target="_blank" href="{{ questions.game.url }}">here</a>!</p>
	</md-content>
	<md-content ng-if="questions.game.error">
		<h2>Whoops!</h2>
		<p>We couldn't find a game for you at this time. Sorry!</p>
	</md-content>
	<md-content ng-if="questions.isLoading">
		<h2>Fetching...</h2>
	</md-content>
</section>
