<!-- <section ng-if="questions.needLogin" id="login">
	<p>This app requires a Mashape API key to use. Enter an ID and your key to proceed.</p>
	<p>Get a free API key <a target="_blank" href="https://www.igdb.com/api">here</a>!</p>
	<form ng-submit="questions.submitLogInfo(logObj)">
		<md-input-container>
			<label>My ID:</label>
			<input ng-model="logObj.id" type="text">
		</md-input-container>
		<md-input-container>
			<label>Mashape API Key:</label>
			<input ng-model="logObj.mashKey" type="password">
		</md-input-container>
		<md-input-container>
			<input aria-label="Submit!" class="md-button" type="submit" value="Submit!">
		</md-input-container>
	</form>
</section> -->
<section id="questions">
		<!-- <md-button ng-click="questions.resetLogInfo()">Reset Account</md-button> -->
	<div class="question-container">
		<h2>Select a range..</h2>
		<p>Narrow down your result to a game from a certain time period.</p>
		<div id="question-date-range">
			<form layout="row" layout-xs="column" layout-align="center">
				<md-input-container class="my-datepicker-container" flex-gt-xs="20" flex>
					<label>From..</label>
					<md-datepicker ng-model="questions.after"></md-datepicker>
				</md-input-container>
				<md-input-container class="my-datepicker-container" flex-gt-xs="20" flex>
					<label>To..</label>
					<md-datepicker ng-model="questions.before"></md-datepicker>
				</md-input-container>
			</form>
		</div>
	</div>
	<div class="question-container">
		<h2>Limit by platform..</h2>
		<p>Retrieve only games that were released for certain systems.</p>
		<div id="question-platform">
			<md-input-container ng-if="questions.platforms">
				<label>Platform</label>
					<md-select ng-model="questions.platform" aria-label="...">
	  					<md-option ng-value="platform" ng-repeat="platform in questions.platforms | orderBy:'name' track by platform.name">{{ platform.name }}</md-option>
	  				</md-select>
			</md-input-container>
			<p ng-if="!questions.platforms">Retrieving list of platforms..</p>
		</div>
	</div>
	<div class="question-container">
		<h2>Limit by genre..</h2>
		<p>Narrow down your game of choice by your preferred type of game.</p>
		<div id="question-genre">
			<md-input-container ng-if="questions.genres">
				<label>Genre</label>
					<md-select ng-model="questions.genre" aria-label="...">
	  					<md-option ng-value="genre" ng-repeat="genre in questions.genres | orderBy:'name' track by genre.name">{{ genre.name }}</md-option>
	  				</md-select>
			</md-input-container>
			<p ng-if="!questions.platforms">Retrieving list of genres..</p>
		</div>
	</div>
	<div class="question-container">
		<div id="question-extra">
			<h2>Limit by popularity..</h2>
			<p>Checking this off will limit the selection to the most popular games based on previous filters.</p>
			<md-input-container>
				<md-checkbox id="my-checkbox" aria-label="..." ng-model="questions.order">
				</md-checkbox>
			</md-input-container>
		</div>
	</div>
	<div id="submit">
		<form ng-submit="questions.submitIgdb(questions.after, questions.before, questions.platform.id, questions.genre.id, questions.order, questions.rating)">
			<md-input-container>
				<input id="my-submit-button" aria-label="Go!" class="md-button" type="submit" value="Go!">
			</md-input-container>
		</form>
	</div>
	
	<div id="answer-container">
		<md-content ng-if="questions.game.name && !questions.isLoading" id="answer-main">
			<div class="game-header">
				<p>Let's play...</p>
				<h2>{{ questions.game.name }}</h2>
				<p>First Released: {{ questions.game.first_release_date | date : 'M/d/yy' }}</p>
			</div>
			<!-- TODO: implement carousel showing array of images (for screenshot array) -->
			<div class="game-sections-container" layout="row" layout-xs="column">
				<div class="game-section" flex>
					<img class="game-image" ng-src="https://res.cloudinary.com/igdb/image/upload/t_cover_big/{{ questions.game.cover.cloudinary_id }}.jpg">
				</div>
				<div class="game-section game-section-summary" flex>
					<div>
						<p class="game-summary">{{ questions.game.summary }}</p>
						<p>Find out more <a target="_blank" href="{{ questions.game.url }}">here</a>!</p>
					</div>
				</div>
			</div>
		</md-content>
		<md-content ng-if="questions.game.error">
			<h2>Whoops!</h2>
			<p>We couldn't find a game for you at this time. Sorry!</p>
		</md-content>
		<md-content id="answer-loading" ng-if="questions.isLoading">
			<h2>Fetching...</h2>
		</md-content>
	</div>
	<div id="answer-scroll-point"></div>
</section>
