#my-checkbox {
  margin-left: 1.2em; }

header #header-top, header #menu {
  text-align: center; }

header #header-top h1 {
  font-size: 2.5em;
  margin-bottom: 0; }

header #menu ul {
  padding: 0; }
  header #menu ul li {
    display: inline-block; }

#home {
  margin: 0 4em; }
  #home h2 {
    text-align: center; }

#questions {
  text-align: center; }
  #questions .game-summary {
    text-align: left;
    padding: 0 1em; }
  #questions .game-image {
    width: 50%; }

@media screen and (min-width: 768px) {
  #questions .game-summary {
    padding: 0 5em; }
  #questions .game-image {
    width: 25%; } }
